*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{


background:#f4f4f4;
font-family:Arial,sans-serif;


display:flex;
justify-content:center;
align-items:center;


height:100vh;


}


.container{


width:95%;
max-width:450px;


background:white;


padding:20px;


border-radius:16px;


box-shadow:0 8px 25px rgba(0,0,0,.08);


text-align:center;


}


h1{


font-size:28px;
margin-bottom:6px;
color:#222;


}


.subtitle{


color:#777;
margin-bottom:18px;
font-size:14px;


}


video{


width:100%;
background:black;


border-radius:12px;


}


canvas{


display:none;


}


.buttons{


margin-top:18px;


display:flex;


gap:10px;


}


button{


flex:1;


padding:14px;


border:none;


border-radius:10px;


font-size:15px;


cursor:pointer;


transition:.2s;


}


#switchBtn{


background:#ececec;


}


#captureBtn{


background:#111;
color:white;


}


button:active{


transform:scale(.97);


}